<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SC_DB" value="Data Source=.\SQLSERVER12;Initial Catalog=SmartCommunity;Persist Security Info=True;User ID=sa;Password=password1!"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
