<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--抓取城市最大的编号-->
    <add key="MaxCityId" value="4"/>

    <!--抓取城市最小的编号-->
    <add key="MinCityId" value="4"/>
    
    <!--分页处理数据数量-->
    <add key="PageSize" value="30"/>
    
    <!--app登录的ID-->
    <add key="UserId" value="263945"/>
    
    <!--抓取时间，以24小时制，单位：小时-->
    <add key="RumTime" value="15"/>
    
    <!--获取所有商家的地址-->
    <add key="GetAllMerchantUrl" value="http://www.fanqie.com/restaurant/location?city={0}&amp;pageno={1}&amp;pagesize={2}&amp;userid={3}"/>
    
    <!--获取商家对应的菜单地址-->
    <add key="GetMerchantAllMenusUrl" value="http://www.fanqie.com/dishes/fulldata"/>
  </appSettings>
</configuration>